
.about{
    padding: 1rem 0 10px;
    width: 100%;
}

.about h2{
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0 20px;
    font-style: italic;
}

.about .content{
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .col-1, .content .col-2{
    flex-basis: 50%;
}

.about .col-1{
    width: 100%;
    text-align: center;
}

.about img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 4px #fff;
    transition: .5s;
}

.about img:hover{
    transform: scale(1.1);
}

.about .col-2{
    padding: 20px;
    margin: auto;
    max-width: 500px;
}

.col-2 h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-style: italic;
}

.about p{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
}

.about button{
    display: flex;
    align-items: center;
}

.about .icon{
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    .about h2{
        padding-top: 50px;
    }
    .about p{
        font-size: 14px;
    }
    .about .col-1, .content .col-2{
        flex-basis: 100%;
        width: 90%;
        margin: auto;
    }
    .about .col-1{
        text-align: center;
    }

    .about img{
        height: 60vw;
        width: 60vw;
    }
   
    .about .col-2{
        padding: 20px;
        margin: 20px auto 0px;
        max-width: 400px;
    }
    
}
